@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hide-page-hero > * > section:first-of-type, .hide-page-hero > section:first-of-type, .hide-page-hero > div > div > section:first-of-type, .hide-page-hero > div > section:first-of-type { display: none !important; }

